<div class="container">
  <h1>Deck 1</h1>
  <p>Question #1</p>
  <% if @result %>
      <p>Guess is correct!</p>
    <% else %>
      <p>Sorry, wrong answer.</p>
    <% end %>
  <p>It's <%= @card_obj.answer %></p>
  <form action="/game/question" method="post">
    <input type="hidden" name="round_id" value="<%= @current_round %>">
    <input type="submit" value="Next" class="btn">
  </form>
</div>
