<div class="container">
  <h1>Account Login</h1>
  <form action="/users/login" method="post">
    <div>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input type="password" name="password_hash" placeholder="Password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
  <a href="/users/create_account">Don't have an account?  Make one here.</a>
</div>
