<div class="container">
  <% if session[:page_count] %>
    <h1>Create Another Card</h1>
  <% else %>
    <h1>Create New Card</h1>
  <% end %>
  <form action="/users/secure/:id/create_card" method="post" id="new_card_form">
    <div id="deck_selection">
      <span>Which Deck do you want to add to?</span>
      <select name="deck_id" id="deck_id">
        <% @decks.each do |deck| %>
          <option value="<%= deck.id %>"><%= deck.name %></option>
        <% end %>
          <option value="new_deck" id="new_deck">New Deck...</option>
      </select>
    </div>
    <div class="new_card_text">
      <div class="new_card_forms">
        <div>
          <textarea cols="50" rows="5" id="question1" class="text-input" type="text" name="question[1]" placeholder="Question"></textarea>

        </div>
        <div>
          <input id="answer1" class="text-input" type="text" name="answer[1]" placeholder="Answer">
        </div>
      </div>
    </div>
    <div>
      <input class="btn" id="create_deck_button" type="submit" value="Create Cards!">
      <button class="btn" id="add_nother_card">Add Another Card</button>
    </div>

  </form>
</div>
