<div class="container">
  <h1>Create New Account</h1>
  <form action="/users/create_account" method="post">
    <div>
      <input class="text-input" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input class="text-input" type="text" name="email" placeholder="Email">
    </div>
    <div>
      <input class="text-input" type="password" name="password" placeholder="Password">
    </div>
    <div>
      <input class="text-input" type="password" name="password_confirmation" placeholder="Confirm Password">
    </div>
    <div>
      <input class="btn" type="submit" value="Create!">
    </div>
  </form>
  <a href="/users/create_account">Don't have an account?  Make one here.</a>
</div>
