<div class="container">

<p>Hi <%= @user.username %>! Welcome to</p>
<h1>Web Flashcards</h1>

<a href="/users/secure/<%= @user.id %>/create_card">Wanna make a new deck?</a>
<form action="/game/select" method="post">
    <button class="btn" type="submit">Start</button>
  </form>
</div>
