<div class="container">
  <h1>Deck 1</h1>
  <p>Question #1</p>
  <p><%= @card_obj.question %></p><br>
  <p>Correct! Answer: </p>
  <p><%= @card_obj.answer %></p>
  <form>
    <input class="btn" type="submit" value="Next">
  </form>
</div>
