<div class="container">
  <h1>Start Page</h1>
<!--   <p><%= @card_obj %></p> -->
  <form action="/game/question" method="post">
    <input type="hidden" name="round_id" value="<%= @current_round %>">
    <button class="btn" type="submit">Start</button>
  </form>
</div>
